.admin-dashboard-container {
  background: #8e6e3e;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 90%;
  padding: 0 50px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-box {
  max-width: 400px;
  display: inline-flex;
  justify-content: flex-start;
}

.search-box input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-box button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-box button:hover {
  background-color: #0056b3;
}

.add-user-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-user-btn:hover {
  background-color: #218838;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.edit-btn,
.delete-btn {
  padding: 6px 12px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.edit-btn {
  background-color: #28a745;
}

.edit-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}

.admin-logout-btn {
  background-color: #ff4b2b;
  width: 100px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: 20px;
  right: 20px;
  left: 92%;
  transition: background 0.3s ease;
}

.admin-logout-btn:hover {
  background-color: #e03d2a;
}

.delete-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 225px;
}
